# Explore here

In [1]:
# Your code here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import jinja2

In [2]:
data_raw = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/data-preprocessing-project-tutorial/main/AB_NYC_2019.csv')
data_raw.to_csv('../data/raw/raw.csv')
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [3]:
#Let's take a sample of the Data
data_raw.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
6218,4547273,Beautiful Spacious Studio By Park,10411359,Alison,Manhattan,Upper West Side,40.78316,-73.97269,Entire home/apt,120,3,33,2019-07-01,0.62,1,0
25595,20494330,Modern Bushwick Oasis Filled with Light & Art,6503786,Zachary,Brooklyn,Bushwick,40.69467,-73.91444,Entire home/apt,175,4,1,2017-09-04,0.04,1,188
38673,30387132,"Bespoke Tribeca Studio, Indoor pool + Great vi...",107434423,Blueground,Manhattan,Tribeca,40.71663,-74.00546,Entire home/apt,276,30,0,NaN,NaN,232,284
5668,4129365,Beautiful SUNLIGHT in quiet apt!,21422095,Timothy,Brooklyn,Flatbush,40.64335,-73.96316,Entire home/apt,109,2,37,2019-06-16,0.64,1,356
20620,16380258,MANHATTAN MODERN NEAR CENTRAL PARK!,99237414,Peter,Manhattan,East Harlem,40.78676,-73.94376,Private room,79,3,21,2019-06-21,0.69,1,46
44560,34302049,"Bright, cozy 1 bedroom near Central Park",17831516,Rebecca,Manhattan,East Harlem,40.78728,-73.94710,Entire home/apt,35,30,0,NaN,NaN,1,235
16859,13432828,Elegant Large One Bed / 1.5 Bathroom- UWS,3469064,Amy,Manhattan,Upper West Side,40.78010,-73.97917,Entire home/apt,230,7,0,NaN,NaN,1,0
13094,9904386,East Village / Alphabety City Apt,10396448,Caroline,Manhattan,East Village,40.72626,-73.97822,Private room,100,1,4,2016-06-27,0.09,1,0
22606,18287688,UES one bedroom,57531995,Ashley,Manhattan,Upper East Side,40.77138,-73.94973,Entire home/apt,145,1,15,2018-04-29,0.62,1,0
26945,21351641,WALK FROM TIME SQUARE FROM THIS HELLS KITCHEN APT,21410583,Brianne,Manhattan,Hell's Kitchen,40.76602,-73.98795,Private room,160,3,77,2019-01-02,3.77,1,88

In [7]:
#Create a copy of the dataset to clean up
df_processed = data_raw.copy()

In [8]:
df_processed = df_processed.drop(['id','host_id'], axis= 1)
df_processed.sample(10)

,name,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
13233,Private bedroom in Tribeca,Guerin,Manhattan,Tribeca,40.71689,-74.00563,Private room,75,1,0,NaN,NaN,1,0
19162,"LES ‘GEM’ - 1BR APARTMENT, GREAT LOCATION, STO...",Stewart,Manhattan,Lower East Side,40.72195,-73.98698,Entire home/apt,214,2,15,2019-05-20,0.48,1,17
41594,Cozy Greenpoint Getaway,Paulina,Brooklyn,Greenpoint,40.72912,-73.95203,Private room,100,3,4,2019-06-30,1.36,1,53
34772,Private bed & Bath 1/2 block from the A Express!,Amy,Manhattan,Washington Heights,40.85199,-73.93701,Private room,90,2,24,2019-07-06,2.39,1,119
45672,Cozy Studio Apartment on the Upper East Side,Stella,Manhattan,Upper East Side,40.76735,-73.95433,Entire home/apt,130,5,0,NaN,NaN,1,188
6876,New Year's in the East Village,Arnell,Manhattan,East Village,40.73037,-73.98268,Entire home/apt,175,1,1,2015-01-02,0.02,1,0
29222,Freehand New York- Queen Room,Freehand,Manhattan,Flatiron District,40.74077,-73.98718,Private room,129,1,47,2019-06-05,2.80,3,364
25949,Comfy Private Bedroom/Bathroom,David,Manhattan,Harlem,40.80482,-73.95107,Private room,123,2,54,2018-12-27,2.44,2,0
22472,New Years EVE in NY! Magnificent Private Penth...,Sata,Queens,Briarwood,40.70678,-73.80613,Entire home/apt,1000,2,5,2018-10-07,0.27,5,365
8927,Large Bright Williamsburg Apartment - Lorimer St.,Monica,Brooklyn,Williamsburg,40.70954,-73.94808,Private room,52,20,6,2018-05-08,0.23,1,0

In [9]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48879 non-null  object
 1   host_name                       48874 non-null  object
 2   neighbourhood_group             48895 non-null  object
 3   neighbourhood                   48895 non-null  object
 4   latitude                        48895 non-null  float64
 5   longitude                       48895 non-null  float64
 6   room_type                       48895 non-null  object
 7   price                           48895 non-null  int64
 8   minimum_nights                  48895 non-null  int64
 9   number_of_reviews               48895 non-null  int64
 10  last_review                     38843 non-null  object
 11  reviews_per_month               38843 non-null  float64
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: float64(3), int64(5), object(6)
memory usage: 5.2+ MB

In [11]:
df_processed.describe().T

,count,mean,std,min,25%,50%,75%,max
latitude,48895.0,40.728949,0.054530,40.49979,40.69010,40.72307,40.763115,40.91306
longitude,48895.0,-73.952170,0.046157,-74.24442,-73.98307,-73.95568,-73.936275,-73.71299
price,48895.0,152.720687,240.154170,0.00000,69.00000,106.00000,175.000000,10000.00000
minimum_nights,48895.0,7.029962,20.510550,1.00000,1.00000,3.00000,5.000000,1250.00000
number_of_reviews,48895.0,23.274466,44.550582,0.00000,1.00000,5.00000,24.000000,629.00000
reviews_per_month,38843.0,1.373221,1.680442,0.01000,0.19000,0.72000,2.020000,58.50000
calculated_host_listings_count,48895.0,7.143982,32.952519,1.00000,1.00000,1.00000,2.000000,327.00000
availability_365,48895.0,112.781327,131.622289,0.00000,0.00000,45.00000,227.000000,365.00000